.mainDiv {
  width: 100%;
  margin: 1.5rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button {
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.upperDiv {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
