.urlShareButton {
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 24px;
  color: white;
  background-color: brown;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.urlShareButton:hover {
  background-color: lightcoral;
}

.shareContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.snsBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
